[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
astroid = "*"
asttokens = "*"
cffi = "*"
cryptography = "*"
decorator = "*"
dill = "*"
exceptiongroup = "*"
executing = "*"
greenlet = "*"
iniconfig = "*"
isort = "*"
jedi = "*"
mako = "*"
markupsafe = "*"
matplotlib-inline = "*"
mccabe = "*"
mypy = "*"
mypy-extensions = "*"
packaging = "*"
parso = "*"
pexpect = "*"
platformdirs = "*"
pluggy = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
ptyprocess = "*"
pure-eval = "*"
pycparser = "*"
pygments = "*"
pylint = "*"
pytest = "*"
six = "*"
sqlalchemy = "*"
stack-data = "*"
tomli = "*"
tomlkit = "*"
traitlets = "*"
types-psycopg2 = "*"
typing-extensions = "*"
uuid = "*"
wcwidth = "*"
pyinputplus = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"
